a.wsps-toggle {
    width : 23px;
    height: 13px;
    display:inline-block;
    vertical-align:middle;
    background-image:url(off.png);
    background-size:cover;
}
a.wsps-active {
    background-image:url(on.png);
}