<div class="uk-section uk-section-muted">
    <div class="uk-container">
        <h3>%%wsps-special_clean_page_h3%%</h3>
        %%form-header%%
        <div id="anchor" name="anchor" class="primary" uk-alert>
            <p>%%wsps-special_clean_smw_intro%%</p></div>
        <input type="hidden" name="ids" value="%%ids%%%"/>
        <input type="submit" name="wsps-action" value="%%wsps-special_clean_smw_page_submit%%"
               class="uk-button uk-button-primary uk-width-1-1"/>
        </form>
    </div>
</div>