<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">
        <div class="uk-navbar-item">
            <a class="uk-navbar-item uk-logo" title="Home WS PageSync" href="%%baseUrl%%index.php/Special:WSps"><img src="%%logo%%" style="height:40px;"></a>

            <ul class="uk-navbar-nav" style="list-style: none;">
                <li class="%%item1class%%">
                    <a href="%%baseUrl%%index.php/Special:WSps?action=exportcustom">%%wsps-special_menu_sync_custom_query%%</a>
                </li>
                <li class="%%item2class%%">
                    <a href="%%baseUrl%%index.php/Special:WSps?action=backup">%%wsps-special_menu_backup_files%%</a>
                </li>
                <li class="%%item3class%%">
                    <a href="%%baseUrl%%index.php/Special:WSps?action=share">%%wsps-special_menu_share_files%%</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
